services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    networks:
      reverseproxy:
    stdin_open: true
    tty: true
    volumes:
      - ./data:/data
      - .:/config
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 80:80
      - 443:443
    entrypoint: /usr/bin/caddy run --adapter caddyfile --config /config/caddyfile

networks:
  reverseproxy:
    external: true
